# Ignore Everything
/*
!.gitignore
# Ignore Workspaces ;D
*/workspace/

# =============================== [ CONFIGS ] =============================== #
!.config/
.config/*
.config/*/workspace

# Keymapping Utility
!.config/keyd/
.config/keyd/*
!.config/keyd/default.conf
# Wayland Compositor
!.config/hypr/
# Notification Daemon
!.config/mako/
!.config/dunst/
# System Status Bar
!.config/waybar/

# Shell
!.config/fish/
# Terminal Emulator
!.config/kitty/
# Terminal Prompt
!.config/starship/
# Terminal Multiplexer
!.config/tmux/
.config/tmux/plugins
# Terminal File Explorer
!.config/vifm/
.config/vifm/*
!.config/vifm/vifmrc
!.config/vifm/colors/
.config/vifm/colors/*
!.config/vifm/colors/hunter.vifm

# 🚀 App Launcher
!.config/fuzzel/
# 📄 PDF Viewer
!.config/zathura/
# 🌄 Image Viewer
!.config/feh/
# 📽️ Video Player
!.config/mpv/
# 📢 Audio Visualizer
!.config/cava/
.config/cava/*
!.config/cava/config
# 🌐 Web Browser
!.mozilla/
.mozilla/*
!.mozilla/firefox/
.mozilla/firefox/*
# Firefox Personal
!.mozilla/firefox/Personal/
.mozilla/firefox/Personal/*
!.mozilla/firefox/Personal/chrome/
# Firefox Experiment
!.mozilla/firefox/Experiment/
.mozilla/firefox/Experiment/*
!.mozilla/firefox/Experiment/chrome/


# =========================== [ PERSONAL FILES ] =========================== #
!Mid_Hunter/
Mid_Hunter/*
Mid_Hunter/*/workspace

!Mid_Hunter/scripts/
