# Ignore Everything
/*
# Except These (with exclamations)
!.gitignore
!README.adoc
!TODO.md
!.psqlrc
!LICENSE
!assets/
!.assets/
!.bashrc
!.bash_profile
!automata/
# Ignore Workspaces ;D
*/workspace/

# ================================ [ LOCAL ] ================================ #
!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/icons/
.local/share/icons/*

# 🖱️ Bibata Modern Classic Cursor
!.local/share/icons/Bibata_Modern_Classic/

# =============================== [ CONFIGS ] =============================== #
!.config/
.config/*
.config/*/workspace


# █▀ █▄█ █▀ ▀█▀ █▀▀ █▀▄▀█
# ▄█ ░█░ ▄█ ░█░ ██▄ █░▀░█
# 🧽 GRUB Theme
!.config/GRUB/
# 👄 Plymouth Splash
!.config/PLYMOUTH/
# 🔑 Keymapping Utility
!.config/keyd/
# 💧 Wayland Compositor
!.config/hypr/
# 🔔 Notification Daemon
!.config/mako/
!.config/dunst/
# 🍫 System Status Bar
!.config/waybar/
# ⚡ System Power Menu
!.config/wlogout/
# 🕹️ System UI
!.config/quickshell/
.config/quickshell/config/colors.json


# ▀█▀ █▀▀ █▀█ █▀▄▀█ █ █▄░█ ▄▀█ █░░
# ░█░ ██▄ █▀▄ █░▀░█ █ █░▀█ █▀█ █▄▄
# 🐟 Fish Shell (Ignored Files)
!.config/fish/
.config/fish/completions/
.config/fish/fish_variables
.config/fish/env.fish
# 🐱 Kitty Terminal Emulator
!.config/kitty/
# 🚀 Starship Terminal Prompt
!.config/starship/
# 🍱 Terminal Multiplexer
!.config/tmux/
.config/tmux/plugins
# 📁 VI File Manager
!.config/vifm/
.config/vifm/*
!.config/vifm/vifmrc
!.config/vifm/README.md
!.config/vifm/colors/
!.config/vifm/scripts/
!.config/vifm/.assets/
.config/vifm/colors/*
!.config/vifm/colors/hunter.vifm
!.config/vifm/colors/hunterv2.vifm
# 😴 Terminal UI Git
!.config/lazygit/
.config/lazygit/state.yml


# █▀ █▀█ █▀▀ ▀█▀ █░█░█ ▄▀█ █▀█ █▀▀
# ▄█ █▄█ █▀░ ░█░ ▀▄▀▄▀ █▀█ █▀▄ ██▄
# 🚀 App Launcher
!.config/fuzzel/
# 📄 PDF Viewer
!.config/zathura/
# 🌄 Image Viewer
!.config/feh/
# 📽️ Video Player
!.config/mpv/
# 📢 Audio Visualizer
!.config/cava/
.config/cava/shaders/
.config/cava/themes/
# 💻 GUI Code Editor
!.config/VSCodium/
.config/VSCodium/*
!.config/VSCodium/User/
.config/VSCodium/User/*
!.config/VSCodium/User/.assets/
!.config/VSCodium/User/settings.json
!.config/VSCodium/User/keybindings.json
!.config/VSCodium/User/README.md

!.config/emacs/
.config/emacs/*
!.config/emacs/init.el

# 🌐 Web Browser
!.mozilla/
.mozilla/*
!.mozilla/assets/
!.mozilla/README.md
!.mozilla/firefox/
.mozilla/firefox/*
# Firefox Personal
!.mozilla/firefox/Personal/
.mozilla/firefox/Personal/*
!.mozilla/firefox/Personal/chrome/
# Firefox Experiment
!.mozilla/firefox/Experiment/
.mozilla/firefox/Experiment/*
!.mozilla/firefox/Experiment/chrome/

# 🎨 Color Generation
!.config/matugen/
# Generated Files
.config/fuzzel/colors.ini
.config/hypr/colors/colors.lua
.config/kitty/colors/colors.conf
.config/waybar/colors.css
.config/wlogout/color_icons/
.config/wlogout/colors.css
.config/dunst/dunstrc.d/99-colors.conf
.config/tmux/colors.conf

# =========================== [ PERSONAL FILES ] =========================== #
!Mid_Hunter/
Mid_Hunter/*
Mid_Hunter/*/workspace

!Mid_Hunter/scripts/
