* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  color: #a6adc8;
  /* transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68); */
}
#workspaces button.active {
  color: #f9e2af;
}
#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}
#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
}
#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio.int,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#idle_inhibitor,
#cpu,
#memory,
#backlight.int,
#backlight {
  /* margin-left: 0px; */
  margin-right: 5px;
  border: 3px solid #999999;
  border-left: 0px;
  background: #262626;
  padding: 0px;
}


/*================*\
* CONTAINED CORNER *
\*================*/

#clock,
#workspaces,
#window,
#tray {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px 15px 15px 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#clock {
  font-size: 20px;
  color: #e9e8e8;
}

#workspaces {
  color: #fab387;
}

#window {
  margin-bottom: 40px;
  margin-top: 40px;
}

#tray {
  margin-bottom: 10px;
  margin-top: 10px;
}


/*==========*\
* TOP CORNER *
\*==========*/

#pulseaudio.int,
#backlight.int{
  border-radius: 0px 15px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}

#network,
#temperature,
#memory,
#cpu,
#custom-power_profile {
  border-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 0px 15px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#network {
  color: #f9e2af;
}

#temperature.critical {
  color: #eba0ac;
}

#custom-power_profile {
  color: #a6e3a1;
}

#pulseaudio {
  color: #89b4fa;
}



/*=========*\
* NO CORNER *
\*=========*/

#pulseaudio,
#backlight{
  border-radius: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
  padding-bottom: 10px;
}

#pulseaudio.microphone {
  border-radius: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

#battery.int{
  border-radius: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
}



/*=============*\
* BOTTOM CORNER *
\*=============*/

#bluetooth,
#idle_inhibitor,
#battery {
  border-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-radius: 0px 0px 15px 0px;
}


#bluetooth {
  color: #89b4fa;
} 

#idle_inhibitor {
  padding-top: 25px;
}

#pulseaudio.microphone {
  color: #cba6f7;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
#battery {
  color: #a6e3a1;
  padding-top: 0px;
}
#battery.charging {
  color: #a6e3a1;
}
#battery.warning {
  color: #f9e2af;
}
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
