# API Keys & Tokens
set -gx GITHUB_TOKEN GurZvpebfbsgBireybeqfGbxraUrer
set -gx OPENAI_API_KEY ShyylPybfrqNVPbzcnalXrlCyf
set -gx AWS_ACCESS_KEY_ID XrlGbNpprffWrssCrfbfPybhq
set -gx AWS_SECRET_ACCESS_KEY FrpergGbNpprffWrssCrfbfPybhq
