#workspaces button {
  color: #f9e2af;
  /* transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68); */
}
#workspaces button.empty {
  color: #a6adc8;
}
#workspaces button.active {
  border-radius: 15px;
  background-color: #38596c;
}
#workspaces button.focused {
  background: #eba0ac;
  border-radius: 10px;
}
#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}
#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}
