/* #waybar.pixelbar {
  background-color: rgba(152, 239, 106, 0.4);
} */

/* ============================ [ WORKSPACES ] ============================ */

/* #workspaces.pixel {
  font-size: 1.0em;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0);
} */

#workspaces.pixel button {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 3px;
  border-style: solid;
  margin-right: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-color: #b3904d;
  color: #b3904d;
  /* background-color: #454554; */
}

#workspaces.pixel button.empty {
  border-color: #5c5c70;
  color: #5c5c70;
}

#workspaces.pixel button.active {
  border-color: #f9e29f;
  color: #f9e29f;
}

#workspaces.pixel button.active.empty {
  border-color: #ababba;
  color: #ababba;
}

#workspaces.pixel button.focused {
  border-color: #eba0ac;
  color: #eba0ac;
}

@keyframes finished_task_blink {
  to {
    border-color: #000000;
  }
}

#workspaces.pixel button.urgent {
  border-top: 8px; /* Important things needs higher visibility */
  border-style: solid;
  border-color: #a6e3a1;
  color: #a6e3a1;
  animation-name: finished_task_blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces.pixel button:hover {
  background: rgba(100, 104, 119, 50);
}

/* =========================== [ AUDIO VOLUME ] =========================== */

#pulseaudio-slider.pixel {
  min-height: 0px;
  min-width: 0px;
  padding-top: 0px;
  /* Using negative values bc this GTK slider trash always stays center */
  margin-top: -45px;
  margin-right: 20px;
}
#pulseaudio-slider.pixel slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
}
#pulseaudio-slider.pixel trough {
  min-height: 5px;
  min-width: 100px;
  border-radius: 5px;
  background-color: #5c5c70;
}
#pulseaudio-slider.pixel highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: #89b4fa;
}
