@import url("./pixelBar.css");
@import "colorcodes.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 1.05em;
  /* Reset Default Styles */
  padding: 0;
  margin: 0;
  min-height: 0;
}

#submap {
  background-color: rgba(10, 10, 10, 0.7);
  color: rgba(152, 239, 106, 1);
  /* color: rgba(116, 196, 239, 1); */
  border-radius: 8px;
  padding: 5px;
  margin-top: 10px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

#workspaces.og {
  border-radius: 10px 10px 25px 25px;
}
#workspaces.og button {
  background-color: @btn_inactive_full_bg;
  color: @btn_inactive_full_fg;
  border-radius: 5px 5px 20px 20px;
  margin: 0px 5px;
  min-width: 70px;
  /* transition: all 0.3s ease-in-out; */
}
#workspaces.og button.empty {
  background-color: @btn_inactive_empty_bg;
  color: @btn_inactive_empty_fg;
}
#workspaces.og button.active {
  background-color: @btn_active_full_bg;
  color: @btn_active_full_fg;
}
#workspaces.og button.urgent {
  background-color: @btn_urgent_bg;
  color: @btn_urgent_fg;
}
#workspaces.og button:hover {
  background-color: @btn_hover_bg;
  color: @btn_hover_fg;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery.og,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces.og,
#tray,
#idle_inhibitor,
#cpu,
#memory,
#backlight {
  /* pixelbar 10px padding + 3px border */
  margin-top: 13px;
  margin-bottom: 0px;
  background: linear-gradient(@item_background, @item_reflection);
  padding: 5px;
  border-width: 0.02em;
  border-style: solid;
  border-color: @item_border;
}

/*================*\
* CONTAINED CORNER *
\*================*/

#network,
#clock,
#window,
#tray {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 25px 10px 25px 10px;
}

#clock {
  color: @secondary;
  margin-left: 15px;
  margin-right: 15px;
}

#window {
  margin-left: 40px;
  margin-right: 40px;
}

#tray {
  margin-left: 15px;
  margin-right: 15px;
}

/*============*\
* LEFT CORNER *
\*============*/

#clock.date,
#temperature,
#memory,
#cpu,
#backlight,
#pulseaudio,
#custom-power_profile {
  border-right: 0px;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 10px 0px 0px 25px;
  margin-left: 15px;
}

#clock.date {
  color: @secondary;
  margin-right: 0;
}

#backlight {
  color: @cc_backlight;
}

#network {
  color: @cc_network;
}

#temperature.critical {
  color: #eba0ac;
}

#custom-power_profile {
  color: #a6e3a1;
}

#pulseaudio {
  color: @cc_audio;
}

/*=========*\
* NO CORNER *
\*=========*/

#clock.time,
#pulseaudio.microphone {
  border-radius: 0px 0px 0px 0px;
  border-left: 0px;
  border-right: 0px;
}

#clock.time {
  color: @primary;
  background: linear-gradient(@item_background, @secondary_container);
  margin-left: 0;
  margin-right: 0;
}

/*============*\
* RIGHT CORNER *
\*============*/

#clock.week,
#bluetooth,
#idle_inhibitor,
#battery.og {
  border-left: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
  border-radius: 0px 25px 10px 0px;
}

#clock.week {
  color: @secondary;
  margin-left: 0;
}

#bluetooth {
  color: #89b4fa;
}

#idle_inhibitor {
  padding-right: 25px;
}

#pulseaudio.microphone {
  margin-left: 0px;
  color: @cc_microphone;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
#battery.og {
  color: @cc_battery;
  margin-right: 15px;
}
#battery.og.charging {
  color: #a6e3a1;
}
#battery.og.warning {
  color: #f9e2af;
}
#battery.og.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
