@import url("./pixelBar.css");
@import "colors.css";
@import "colorcodes.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 1.05em;
  /* Reset Default Styles */
  padding: 0;
  margin: 0;
  min-height: 0;
}

#submap {
  background-color: rgba(10, 10, 10, 0.7);
  color: rgba(152, 239, 106, 1);
  /* color: rgba(116, 196, 239, 1); */
  border-radius: 8px;
  padding: 5px;
  margin-top: 10px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

#workspaces.og button {
  color: @secondary;
  padding: 0px 15px 0px 10px;
  /* transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68); */
}
#workspaces.og button.empty {
  color: @primary_container;
}
#workspaces.og button.active {
  background-color: @primary;
  color: @scrim;
  border-radius: 15px;
}
#workspaces.og button.urgent {
  background-color: @error;
  color: @scrim;
  border-radius: 15px;
}
#workspaces.og button:hover {
  background-color: @tertiary;
  color: @scrim;
  border-radius: 15px;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery.og,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces.og,
#tray,
#idle_inhibitor,
#cpu,
#memory,
#backlight {
  /* pixelbar 10px padding + 3px border */
  margin-top: 13px;
  margin-bottom: 0px;
  background: #262626;
  padding: 5px;
  /* text-shadow:
    1px 1px 4 #000,
    -1px 1px 4 #000,
    1px -1px 4 #000,
    -1px -1px 4 #000; */
}

/*================*\
* CONTAINED CORNER *
\*================*/

#network,
#clock,
#workspaces.og,
#window,
#tray {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px 20px 20px 20px;
}

#clock {
  color: @cc_time;
  margin-left: 15px;
  margin-right: 15px;
}

#window {
  margin-left: 40px;
  margin-right: 40px;
}

#tray {
  margin-left: 15px;
  margin-right: 15px;
}

/*============*\
* LEFT CORNER *
\*============*/

#temperature,
#memory,
#cpu,
#backlight,
#pulseaudio,
#custom-power_profile {
  border-right: 0px;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 20px 0px 0px 20px;
  margin-left: 15px;
}

#backlight {
  color: @cc_backlight;
}

#network {
  color: #f9e2af;
}

#temperature.critical {
  color: #eba0ac;
}

#custom-power_profile {
  color: #a6e3a1;
}

#pulseaudio {
  color: @cc_audio;
}

/*=========*\
* NO CORNER *
\*=========*/

#pulseaudio.microphone {
  border-radius: 0px 0px 0px 0px;
  border-left: 0px;
  border-right: 0px;
}

/*============*\
* RIGHT CORNER *
\*============*/

#bluetooth,
#idle_inhibitor,
#battery.og {
  border-left: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
  border-radius: 0px 20px 20px 0px;
}

#bluetooth {
  color: #89b4fa;
}

#idle_inhibitor {
  padding-right: 25px;
}

#pulseaudio.microphone {
  margin-left: 0px;
  color: @cc_microphone;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
#battery.og {
  color: @cc_battery;
  margin-right: 15px;
}
#battery.og.charging {
  color: #a6e3a1;
}
#battery.og.warning {
  color: #f9e2af;
}
#battery.og.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
