* {
  background-image: none;
  box-shadow: none;
}
window {
  background-color: rgba(0, 0, 0, 0.3);
}
button {
  color: #ffffff;
  border-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  animation: gradient_f 20s ease-in infinite;
}

button:focus,
button:active,
button:hover {
  background-size: 35%;
  outline-style: none;
  /* animation: gradient_f 20s ease-in infinite; */
  /* transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682); */
}

#lock {
  background-image: image(
    url("./icons/lock.png"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("./icons/logout.png"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}
#logout:focus {
  background-image: image(url("./icons/hi_logout.png"));
}

#suspend {
  background-image: image(
    url("./icons/suspend.png"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}
#suspend:focus {
  background-image: image(url("./icons/hi_suspend.png"));
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.png"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}
#hibernate:focus {
  background-image: image(url("./icons/hi_hibernate.png"));
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.png"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}
#shutdown:focus {
  background-image: image(url("./icons/hi_shutdown.png"));
}

#reboot {
  background-image: image(
    url("./icons/reboot.png"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
#reboot:focus {
  background-image: image(url("./icons/hi_reboot.png"));
}

#windows {
  background-image: image(url("./icons/windows.png"));
}
#windows:focus {
  background-image: image(url("./icons/hi_windows.png"));
}
