@import "colors.css";

* {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
window {
  background-color: rgba(0, 0, 0, 0);
}
button {
  color: @on_background;
  border: 3px solid;
  border-color: transparent;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  animation: gradient_f 20s ease-in infinite;
}

button:focus,
button:active {
  color: @background;
  background-color: @primary;
  background-size: 35%;
  outline-style: none;
  /* animation: gradient_f 20s ease-in infinite; */
  /* transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682); */
}

button:hover {
  color: @primary;
  border: 3px solid;
  border-color: @primry;
}

#logout {
  background-image: image(
    url("./color_icons/logout-adwaita.svg"),
    url("./icons/logout-adwaita.svg")
  );
}
#logout:focus {
  background-image: image(url("./icons/logout-adwaita.svg"));
}

#suspend {
  background-image: image(
    url("./color_icons/suspend-adwaita.svg"),
    url("./icons/suspend-adwaita.svg")
  );
}
#suspend:focus {
  background-image: image(url("./icons/suspend-adwaita.svg"));
}

#shutdown {
  background-image: image(
    url("./color_icons/shutdown-adwaita.svg"),
    url("./icons/shutdown-adwaita.svg")
  );
}
#shutdown:focus {
  background-image: image(url("./icons/shutdown-adwaita.svg"));
}

#reboot {
  background-image: image(
    url("./color_icons/reboot-adwaita.svg"),
    url("./icons/reboot-adwaita.svg")
  );
}
#reboot:focus {
  background-image: image(url("./icons/reboot-adwaita.svg"));
}

#windows {
  background-image: image(
    url("./color_icons/windows-hashicorp.svg"),
    url("./icons/windows-hashicorp.svg")
  );
}
#windows:focus {
  background-image: image(url("./icons/windows-hashicorp.svg"));
}

#goodnight {
  background-image: image(
    url("./color_icons/sleep-adwaita.svg"),
    url("./icons/sleep-adwaita.svg")
  );
}
#goodnight:focus {
  background-image: image(url("./icons/sleep-adwaita.svg"));
}
