* {
  background-image: none;
}
window {
  background-color: rgba(0, 0, 0, 0.4);
}
button {
  color: #b2b2b2;
  background-color: #1e222a;
  border-style: solid;
  border-color: #6abcfa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  border-width: 5px;
  margin: 20px;
  border-radius: 30%;
}

button:focus,
button:active {
  background-color: #444a02;
  border-color: #eefa6a;
  outline-style: none;
}

button:hover {
  background-color: #444a02;
}

#lock {
  background-image: image(
    url("./icons/lock.png"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("./icons/logout.png"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("./icons/suspend.png"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.png"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.png"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot.png"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}

#windows {
  background-image: image(
    url("./icons/windows.png")
  );
}
